<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nedovba;AccountKey=tx0aKfGkDQwavR5dASB6RLJ6kTCTCSvxoEN/+1l5FBIYDgEuMuB1yj7Z/jqyUfd/lcqXLR3bnrCEWdzcYHM6dA==" />
  </appSettings>
</configuration>